<%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/gallery.css">
</head>
<body>
    <%- include('../partials/navigation') %>
    <main>
        <div class="display_images">
            <ol>
            <% images.forEach((photo)=> { %>
            <li>
                <div class="image_box">
                    <a class="image_link" href="/images/<%= photo.id %>">
                        <img class="image_render" src="<%= photo.src.original %>" alt="<%= photo.alt %>">
                    </a>
                </div>           
            </li> <br>
            <% }) %>
            </ol>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>