<%- include('../partials/header') %>
    <link rel="stylesheet" href="/stylesheets/gallery.css">
</head>
<body>
    <%- include('../partials/navigation') %>
    <div class="display_images">
        <ol>
            <% images.forEach((photo)=> { %>
            <li>
                <div>
                    <a href="/images/<%= photo.id %>">
                        <img class="image_render" src="<%= photo.src.original %>" alt="<%= photo.alt %>">
                    </a>
                </div>           
            </li> <br>
            <% }) %>
        </ol>
    </div>

</body>
<%- include('../partials/footer') %>
</html>