<nav>
    <div class="main_nav">
        <% if (user){ %>
            <div class="nav_logo">
                <a href="https://www.pexels.com">
                    <img src="https://images.pexels.com/lib/api/pexels-white.png" />
                </a>
            </div>
            <div class="nav_left">
                
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
                <a class="<%= path === '/search' ? 'active' : '' %>" href="/images/search">Photos</a>
                <a href="/">Videos</a>
                <a class="<%= path === '/gallery' ? 'active' : '' %>" href="/gallery">Gallery</a>
                <a class="<%= path === '/collections' ? 'active' : '' %>" href="/collections">Collections</a>
            </div>
            <div class="nav_right">
                <a class="logout" href="/logout">Log out</a>
            </div>
        <% }else { %>
            <div class="nav_logo">
                <a href="https://www.pexels.com">
                    <img src="https://images.pexels.com/lib/api/pexels-white.png" />
                </a>
            </div>
            <div class="nav_left">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
                <a class="<%= path === '/search' ? 'active' : '' %>" href="/images/search">Photos</a>
                <a href="/">Videos</a>
            </div>
                <a href="/auth/google" class="login">Log In</a>
            <% } %>
    </div>
</nav>
