<%- include('../partials/header') %>
</head>
<body>
    <div class="display_collections">
        <br>
        <%- include('../partials/navigation') %>
        <ul>
            <% imageSet.forEach((image) => { %>
                <li>
                    <a href="/images/<%= image.id %>">
                        <img src="<%= image.ima_Medium %>" alt="<%= image.alt %>">
                    </a>
                </li>
            <% }) %>
        </ul>
    </div>
</body>
</html>
