<%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/galleryIndex.css">
    </head>
    <body>
        <%- include('../partials/navigation') %>
        <main>
                <div class="image_index">
                    <ol class="image_container">
                        <img class="image_gallery_show" src="<%= image.ima_Original %>" alt="<%= image.alt %>">
                    </ol>
                </div>
                <br>
                <div class="collections_list">
                    <% collections.forEach((collection)=> { %>
                        <div class="collection_pick">
                            <form action="/collections/<%= collection._id %>" method="POST">
                                <div>
                                    <label for="collection"><%= collection.title %></label>
                                    <input hidden="text" id="image_id" name="image_id" value="<%= image._id %>">
                                    <button type="submit">Add</button>
                                </div>
                            </form>
                        </div>
                    <% }) %>
                </div> <br>
                <div class="gallery_remove">
                    <label for="remove">Remove form Gallery</label>
                    <form action="/gallerys/<%= image._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Remove">
                    </form>
                </div>
        </main>
        <%- include('../partials/footer') %>
    </body>

    </html>